{% extends 'home/base_dashboard.html' %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
    <link href="{% static 'customer/base.css' %}" rel="stylesheet">
{% endblock %}

{% block sidebar_top %}
<div class="fs-1 container text-center pt-3 bg-secondary">
  <img src="https://www.pngitem.com/pimgs/m/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png"
    alt="User Avatar"
    class="img-fluid w-75"
   >
  {{ customer.user.username }}
</div>
{% endblock %}

{% block sidebar_nav %}
<div class="ms-4 mt-4 d-flex flex-column gap-3">
  <a href="{% url 'customer:orders' %}" class="text-decoration-none text-white">
    <i class="fa-solid fa-box" style="font-size:18px;"></i>
    <span class="px-2">Orders</span>
  </a>
  <a href="{% url 'customer:profile_settings' %}" class="text-decoration-none text-white">
    <i class="fa-solid fa-user" style='font-size:18px;'></i>
    <span class="px-2">Profile Settings</span>
  </a>
</div>
{% endblock %}
