{% extends 'customer/base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap_message %}
{% load get_purchases %}

{% block main %}
<div class='container py-2'>
  <div class='d-flex flex-wrap gap-5 align-items-center justify-content-evenly'>
    <!-- canvas container container -->
    <div> <canvas id="spendings_by_product" width="400" height="400"></canvas> </div>
  </div>

  <h1 class='mt-4'>Order  History </h1>
  <div class="table-responsive">
    <table class='table table-striped'>
        <thead>
            <tr>
                <th> INV ID </th>
                <th> Details </th>
                <th> Date </th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.id }}</td>
                <td>
                    <div class="accordion" id="details-{{invoice.id}}">
                        <div class="accordion-item">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#details-body-{{invoice.id}}" aria-expanded="true" aria-controls="details-body-{{invoice.id}}">
                                Total: {{invoice.cost}}
                            </button>
                            <div id="details-body-{{invoice.id}}" class="accordion-collapse collapse">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <td>Item</td>
                                            <td>Volume</td>
                                            <td>Rate</td>
                                            <td>Cost</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for purchase in invoice|get_purchases %}
                                    <tr>
                                        <td> {{ purchase.item }} </td>
                                        <td> {{ purchase.volume }} </td>
                                        <td> {{ purchase.rate }} </td>
                                        <td> {{ purchase.cost }} </td>
                                    </tr>
                                    {% endfor %}
                                    <tr class='total-row fw-bold'>
                                        <td colspan='3' class='text-end'> Total </td>
                                        <td> {{ invoice.cost }} </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </td>
                <td>{{ invoice.order_timestamp}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
{{ block.super }}
<script>
  function getRandomColorWithOpacity() {
      let letters = '0123456789ABCDEF'.split('');
      let color = '#';
      for (let i = 0; i < 6; i++ ) {
          color += letters[Math.floor(Math.random() * 16)];
      }
      color += '50';
      return color;
  }

  $(document).ready(async () => {
    const ctx = document.getElementById('spendings_by_product').getContext('2d');
    let response = await fetch("{% url 'customer:spendings_by_product' %}");
    let json = await response.json();
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: Object.keys(json),
        datasets: [{
          label: 'Spendings by product',
          data: Object.values(json),
          backgroundColor: Object.keys(json).map((x) => getRandomColorWithOpacity()),
          borderColor: ['#FF0000FF'],
          borderWidth: 1,
          
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

  });
</script>
{% endblock %}