{% extends 'customer/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap_message %}
{% load get_purchases %}

{% block extrascripts %}
{{ block.super }}
<script src="{% static 'customer/orders_graph.js' %}"></script>
{% endblock %}

{% block main %}
<div class='container-fluid d-flex flex-column flex-wrap py-2'>
  <div>
    <h2> Recent Purchases </h2>
    <div class='d-flex flex-wrap gap-5 align-items-center justify-content-evenly'>
      <!-- canvas container container -->
      <div> <canvas id="latest_spendings" width="400" height="400"></canvas> </div>
      <div> <canvas id="spendings_by_product" width="400" height="400"></canvas> </div>
    </div>
  </div>

  <div>
    <h1 class='mt-4'>Order  History </h1>
    <div class="table-responsive mt-5">
      <table id="order_history" class='table table-striped table-bordered'>
          <thead>
              <tr>
                  <th> INV ID </th>
                  <th> Details </th>
                  <th> Date </th>
              </tr>
          </thead>
          <tbody>
              {% for invoice in invoices %}
              <tr>
                  <td>{{ invoice.id }}</td>
                  <td>
                      <div class="accordion" id="details-{{invoice.id}}">
                          <div class="accordion-item">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#details-body-{{invoice.id}}" aria-expanded="true" aria-controls="details-body-{{invoice.id}}">
                                  Total: {{invoice.cost | floatformat:4}}
                              </button>
                              <div id="details-body-{{invoice.id}}" class="accordion-collapse collapse">
                                  <table class="table table-striped">
                                      <thead>
                                          <tr>
                                              <td>Item</td>
                                              <td>Volume</td>
                                              <td>Cost</td>
                                          </tr>
                                      </thead>
                                      <tbody>
                                      {% for purchase in invoice|get_purchases %}
                                      <tr>
                                          <td> {{ purchase.item }} </td>
                                          <td> {{ purchase.volume }} </td>
                                          <td> {{ purchase.cost | floatformat:4 }} </td>
                                      </tr>
                                      {% endfor %}
                                      <tr class='total-row fw-bold'>
                                          <td colspan='2' class='text-end'> Total </td>
                                          <td> {{ invoice.cost | floatformat:4 }} </td>
                                      </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </td>
                  <td>{{ invoice.order_timestamp | date:"Y-m-d" }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
