{% extends 'customer/base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap_message %}
{% load get_purchases %}

{% block main %}
<div class='container-fluid d-flex flex-column flex-wrap py-2'>
  <div>
    <h2> Recent Purchases </h2>
    <div class='d-flex flex-wrap gap-5 align-items-center justify-content-evenly'>
      <!-- canvas container container -->
      <div> <canvas id="latest_spendings" width="400" height="400"></canvas> </div>
      <div> <canvas id="spendings_by_product" width="400" height="400"></canvas> </div>
    </div>
  </div>

  <div>
    <h1 class='mt-4'>Order  History </h1>
    <div class="table-responsive mt-5">
      <table id="order_history" class='table table-striped table-bordered'>
          <thead>
              <tr>
                  <th> INV ID </th>
                  <th> Details </th>
                  <th> Date </th>
              </tr>
          </thead>
          <tbody>
              {% for invoice in invoices %}
              <tr>
                  <td>{{ invoice.id }}</td>
                  <td>
                      <div class="accordion" id="details-{{invoice.id}}">
                          <div class="accordion-item">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#details-body-{{invoice.id}}" aria-expanded="true" aria-controls="details-body-{{invoice.id}}">
                                  Total: {{invoice.cost}}
                              </button>
                              <div id="details-body-{{invoice.id}}" class="accordion-collapse collapse">
                                  <table class="table table-striped">
                                      <thead>
                                          <tr>
                                              <td>Item</td>
                                              <td>Volume</td>
                                              <td>Rate</td>
                                              <td>Cost</td>
                                          </tr>
                                      </thead>
                                      <tbody>
                                      {% for purchase in invoice|get_purchases %}
                                      <tr>
                                          <td> {{ purchase.item }} </td>
                                          <td> {{ purchase.volume }} </td>
                                          <td> {{ purchase.rate }} </td>
                                          <td> {{ purchase.cost }} </td>
                                      </tr>
                                      {% endfor %}
                                      <tr class='total-row fw-bold'>
                                          <td colspan='3' class='text-end'> Total </td>
                                          <td> {{ invoice.cost }} </td>
                                      </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </td>
                  <td>{{ invoice.order_timestamp | date:"Y-m-d" }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
{{ block.super }}
<script>
  "use strict";
  $(document).ready(() => { $('#order_history').DataTable(); });

  String.prototype.hashCode = function () {
    let FNV1_32A_INIT = 0x811c9dc5;
    let hval = FNV1_32A_INIT;
    for (let i = 0; i < this.length; ++i) {
      hval ^= this.charCodeAt(i);
      hval +=
        (hval << 1) + (hval << 4) + (hval << 7) + (hval << 8) + (hval << 24);
    }
    return hval >>> 0;
  };

  function getColor(label, opacity = "ff") {
    let hash = label.hashCode();
    return "#" + Math.abs(label.hashCode()).toString(16).substring(0, 6) + opacity;
  }

  $(document).ready(async () => {
    const ctx = document.getElementById('spendings_by_product').getContext('2d');
    let response = await fetch("{% url 'customer:spendings_by_product' %}");
    let json = await response.json();
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: Object.keys(json),
        datasets: [{
          label: 'Spendings by product',
          data: Object.values(json),
          backgroundColor: Object.keys(json).map((x) => getColor(x, '50')),
          borderColor: ['#FF0000FF'],
          borderWidth: 1,
          
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

  });

  $(document).ready(async () => {
      const ctx = document.getElementById('latest_spendings').getContext('2d');
      let response = await fetch("{% url 'customer:latest_spendings' %}");
      let json = await response.json();
      const data = {
        labels: ['9', '8', '7', '6', '5', '4', '3', '2', '1', 'Today'],
        datasets: [{
          label: 'Recent Purchases',
          data: json,
          fill: true,
          borderColor: '#f87',
          tension: 0.1
        }]
      };
      const config = {
        type: 'line',
        data: data,
        options: {
          maintainAspectRatio: true,
          aspectRatio: 1,
        },
        plugins: {
            title: {
                display: true,
                text: 'Spendings during the last ten days.'
            }
        }
      };
      const chart = new Chart(ctx, config);
  });
</script>
{% endblock %}