{% extends 'home/base.html' %}
{% block content %}
<div class="bg-danger text-light px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Oil Credit Landing</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lacinia justo in ante faucibus tincidunt. Mauris vel velit nibh. Nulla scelerisque efficitur sapien, sit amet rutrum tellus tempus blandit. 
        </p>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 50vh;">
      <div class="container px-5">
        <img src="https://cdn1.iconfinder.com/data/icons/fuel-energy-vol-13/600/Oil-production-pump-fuel-Extraction-fossil-petroleum-production-splash-512.png" class="img-fluid rounded-3 mb-4" alt="Oil Credit image" width="380" height="400" loading="lazy">
      </div>
    </div>
  </div>
{% endblock %}