{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap_message %}

{% block content %}
<div class="container-fluid my-3" style="min-height: 90vh;">
<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-md-6">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
      class="img-fluid" alt="Sample image">
  </div>
  <div class="col-md-4 offset-x-2">
    {% if messages %}
      {% for message in messages %}
      {{ message | bootstrap_message }}
      {% endfor %}
    {% endif %}
    <form method='POST'>
      {% csrf_token %}
      {{form | crispy}}
      <div class="text-center text-lg-start mt-4 pt-2">
        <button type="submit" class="btn btn-warning btn-lg"
          style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? {{a}}<a href="{% url 'home:signup' %}"
            class="link-danger">Register</a></p>
      </div>

    </form>
  </div>
</div>
</section>
{% endblock %}