{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">
<style>
  .dashboard #content {
    width: initial;
  }

  .stats-main {
    display: flex;
    margin-top: 2rem;
    gap: 50px;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .stats-counter {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    margin-left: 2rem;
  }

  .stats-counter > * {
    background-color: rgba(255, 0, 0, 0.2);
    font-size: 1.5em;
    border: 1px solid red;
    border-radius: 20px;
    color: var(--body-fg);
    padding: 1.5em;
    text-align: center;
  }

  .stats-counter > div > * {
    font-weight: bold;
    margin-bottom: 0.4rem;
  }

  .stats-charts {
    display: flex;
    gap: 50px;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .stats-charts > * {
    max-height: 500px;
    max-width: 500px;
  }

  .stats-charts-section {
    margin-top: 2rem;
  }

  .export {
    background-color: #eee;
    padding: 3rem;
    margin: 1rem;
    margin-top: 10rem;
  }

  .export-section-container {
    margin-top: 3rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .export-section {
    background-color: #ddd;
    padding: 1rem 3rem;
    border-radius: 20px;
  }

  .export-sections > div {
    margin: 1rem 5px;
  }

  .export a {
    margin: 5px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 15px;
    background-color: var(--primary);
    color: #fff;
    text-decoration: none;
  }

  .export h2 {
    margin: 1.5rem 5px;
    font-size: 1.2rem;
  }

  .export h1 {
    color: var(--primary);
  }

  .export a:hover,
  a:focus {
    text-decoration: none;
    opacity: 0.8;
  }

  .export a:active {
    text-decoration: none;
    opacity: 0.7;
  }

  .badge-button-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
</style>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script>
  "use strict";
  String.prototype.hashCode = function () {
    let FNV1_32A_INIT = 0x811c9dc5;
    let hval = FNV1_32A_INIT;
    for (let i = 0; i < this.length; ++i) {
      hval ^= this.charCodeAt(i);
      hval +=
        (hval << 1) + (hval << 4) + (hval << 7) + (hval << 8) + (hval << 24);
    }
    return hval >>> 0;
  };

  function getColor(label, opacity = "ff") {
    let hash = label.hashCode();
    return "#" + Math.abs(label.hashCode()).toString(16).substring(0, 6) + opacity;
  }

  $(document).ready(async () => {
    const ctx = document.getElementById('recent_customers').getContext('2d');
    let response = await fetch("{% url 'admin:recent_customers' %}");
    let json = await response.json();
    const data = {
      labels: ["9", "8", "7", "6", "5", "4", "3", "2", "1", "Today"],
      datasets: [
        {
          label: "Recent Customers",
          data: json,
          backgroundColor: Object.keys(json).map((x) => getColor(x, "50")),
          borderColor: ["#B000A0"],
          borderWidth: 1,
        },
      ],
    };
    const config = {
      type: "bar",
      data: data,
      options: {
        maintainAspectRatio: true,
        aspectRatio: 1,
      },
      plugins: {
        title: {
          display: true,
          text: "Signups during the last ten days.",
        },
      },
    };
    const chart = new Chart(ctx, config);
  });

  $(document).ready(async () => {
    const ctx = document.getElementById("recent_sales").getContext("2d");
    let response = await fetch("{% url 'admin:recent_sales' %}");
    let json = await response.json();
    const data = {
      labels: ["9", "8", "7", "6", "5", "4", "3", "2", "1", "Today"],
      datasets: [
        {
          label: "Recent Sales",
          data: json,
          fill: true,
          borderColor: "#f87",
          tension: 0.1,
        },
      ],
    };
    const config = {
      type: "line",
      data: data,
      options: {
        maintainAspectRatio: true,
        aspectRatio: 1,
      },
      plugins: {
        title: {
          display: true,
          text: "Sales during the last ten days.",
        },
      },
    };
    const chart = new Chart(ctx, config);
  });

  $(document).ready(async () => {
    const ctx = document.getElementById("sales_by_item").getContext("2d");
    let response = await fetch("{% url 'admin:sales_by_item' %}");
    let json = await response.json();
    const data = {
      labels: Object.keys(json),
      datasets: [
        {
          label: "sales_by_item",
          data: Object.values(json),
          backgroundColor: Object.keys(json).map((x) => getColor(x)),
        },
      ],
    };
    const config = {
      type: "doughnut",
      data: data,
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: "bottom",
          },
          title: {
            display: true,
            text: "Total Sales by Item",
          },
        },
      },
    };
    const chart = new Chart(ctx, config);
  });
</script>
{% endblock %}

{% block coltype %}{% endblock %} 

{% block bodyclass %}
{{ block.super }}
dashboard
{% endblock %}

{% block content %}
<div id="content-main">
  <div class="stats-main">
    <div style="min-width: 360px">
      {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
    </div>

    <div class="stats-counter">
      <div>
        <div><i class="fa-solid fa-sack-dollar"></i> &nbsp; Total Sales</div>
        {{ total_sales | floatformat:4 }}
      </div>
      <div>
        <div><i class="fa-solid fa-user"></i> &nbsp; Customers</div>
        {{ customer_count }}
      </div>
      <div>
        <div><i class="fa-solid fa-user-astronaut"></i> &nbsp; Employees</div>
        {{ employee_count }}
      </div>
    </div>
  </div>

  <!-- canvas container container -->
  <div class="stats-charts-section">
    <h1><i class="fa-solid fa-chart-line"></i> General Statistics</h1>
    <div class="stats-charts">
      <canvas id="sales_by_item" width="500" height="500"></canvas>
      <canvas id="recent_sales" width="500" height="500"></canvas>
      <canvas id="recent_customers" width="500" height="500"></canvas>
    </div>
  </div>

  <div class="export">
    <h1><i class="fa-solid fa-file-export"></i> Export</h1>
    <div class="export-section-container">
      <div class="export-section">
        <h2><i class="fa-solid fa-receipt"></i> Invoices</h2>
        <div class="badge-button-container">
          <a href="{% url 'admin:export_all_invoices' %}"> All Invoices</a>
          <a href="{% url 'admin:export_daily_invoices' %}">Daily Invoices</a>
        </div>
      </div>

      <div class="export-section">
        <h2><i class="fa-solid fa-user"></i> Customer</h2>
        <div class="badge-button-container">
          <a href="{% url 'admin:export_all_customers' %}">Profile Information</a>
        </div>
      </div>

      <div class="export-section">
        <h2><i class="fa-solid fa-user-astronaut"></i> Employee</h2>
        <div class="badge-button-container">
          <a href="{% url 'admin:export_all_employees' %}"> Profile Information</a>
          <a href="{% url 'admin:export_employee_report' %}">Daily Report</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

