{% extends 'home/base_dashboard.html' %}

{% block sidbar_user_info %}

{% endblock %}

{% block sidebar_nav %}
<div class="ms-4 mt-4 d-flex flex-column gap-3">
  <a href="{% url 'employee:dashboard' %}" class="text-decoration-none text-white">
    <i class="fa-solid fa-box" style="font-size:18px;"></i>
    <span class="px-2">Invoices</span>
  </a>
  <a href="{% url 'employee:place_order' %}" class="text-decoration-none text-white">
    <i class="fa-solid fa-box" style="font-size:18px;"></i>
    <span class="px-2">Place Order</span>
  </a>
  <a href="{% url 'employee:profile_settings' %}" class="text-decoration-none text-white">
    <i class="fa-solid fa-user" style='font-size:18px;'></i>
    <span class="px-2">Profile Settings</span>
  </a>
  <a href="{% url 'employee:set_credit' %}" class="text-decoration-none text-white">
    <i class="fa-solid fa-box" style='font-size:18px;'></i>
    <span class="px-2">Set Credit</span>
  </a>
</div>
{% endblock %}