{% extends 'home/base_dashboard.html' %}

{% block sidebar %}
<div>
  <div class="mb-auto ms-4">
    <div class='py-2'>
      <a href="{% url 'employee:dashboard' %}" class="text-decoration-none text-white">
        <i class="fa-solid fa-box" style="font-size:18px;"></i>
        <span class="px-2">Invoices</span>
      </a>
    </div>
    <div class='py-2'>
      <a href="{% url 'employee:place_order' %}" class="text-decoration-none text-white">
        <i class="fa-solid fa-box" style="font-size:18px;"></i>
        <span class="px-2">Place Order</span>
      </a>
    </div>
    <div class='py-2'>
      <a href="{% url 'employee:profile_settings' %}" class="text-decoration-none text-white">
        <i class="fa-solid fa-user" style='font-size:18px;'></i>
        <span class="px-2">Profile Settings</span>
      </a>
    </div>
    <div class='py-2'>
      <a href="{% url 'employee:set_credit' %}" class="text-decoration-none text-white">
        <i class="fa-solid fa-box" style='font-size:18px;'></i>
        <span class="px-2">Set Credit</span>
      </a>
    </div>
  </div>
</div>
{% endblock %}