{% extends 'employee/base.html' %}
{% load bootstrap_message %}

{% block main %}
<div class='container-fluid py-5'>
    <h1>All Invoices</h1>
    {% if messages %}
    {% for message in messages %}
      {{ message | bootstrap_message }}
    {% endfor %}
    {% endif %}
    <table class='table table-striped'>
        <thead>
            <tr>
                <th> Customer </th>
                <th> Item </th>
                <th> Volume </th>
                <th> Date </th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.customer }}</td>
                <td>{{ invoice.item }}</td>
                <td>{{ invoice.volume }}</td>
                <td>{{ invoice.order_timestamp}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}