{% extends 'home/base_dashboard.html' %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link href="{% static 'member/base.css' %}" rel="stylesheet">
{% endblock %}

{% block sidebar%}
<div>
  <div class='pt-2 mt-2'>
    <div class='credit_card container-fluid bg-danger'>
      <div class='row'>
        <div class="credit_card_details position-relative bg-secondary col-11 p-4 d-flex flex-column">
          <div class='row align-items-center'>
            <div class="col">
              <span> Your Credits </span>
            </div>
            <div class="col d-flex">
              <div class="credit_card_chip ms-auto bg-warning">
              </div>
          </div>
        </div>
        <h3 class='credit_card_name font-monospace'>{{ member.user.username }}</h3>
        <h3>**** **** **** ****</h3>
        <h3 class='mt-auto align-bottom'>$ {{ member.credit }}</h3>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>
  <hr>

  <div class="mb-auto ms-4">
    <div class='py-2'>
      <a href="{% url 'member:orders' %}" class="text-decoration-none text-white">
        <i class="fa-solid fa-box" style="font-size:18px;"></i>
        <span class="px-2">Orders</span>
      </a>
    </div>
    <div class='py-2'>
      <a href="{% url 'member:profile_settings' %}" class="text-decoration-none text-white">
        <i class="fa-solid fa-user" style='font-size:18px;'></i>
        <span class="px-2">Profile Settings</span>
      </a>
    </div>
  </div>
</div>
{% endblock %}
