{% extends 'home/base_dashboard.html' %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
    <link href="{% static 'member/base.css' %}" rel="stylesheet">
{% endblock %}

{% block sidbar_user_info %}
<div class="text-center text-secondary">
  <span class='display-6'> {{member.user.username}} </span>
</div>
{% endblock %}

{% block sidebar_nav %}
<div class="ms-4 mt-4 d-flex flex-column gap-3">
  <a href="{% url 'member:orders' %}" class="text-decoration-none text-white">
    <i class="fa-solid fa-box" style="font-size:18px;"></i>
    <span class="px-2">Orders</span>
  </a>
  <a href="{% url 'member:profile_settings' %}" class="text-decoration-none text-white">
    <i class="fa-solid fa-user" style='font-size:18px;'></i>
    <span class="px-2">Profile Settings</span>
  </a>
</div>
{% endblock %}
