{% extends 'member/base.html' %} {% block main %}
<div class="container-fluid py-5">
  <h1>Order History</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Date</th>
        <th>Approved</th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in invoices %}
      <tr>
        <td>{{ invoice.item }}</td>
        <td>{{ invoice.quantity }}</td>
        <td>{{ invoice.date}}</td>
        <td>{{ invoice.approved}}</td>
        <td>
            {% if not invoice.approved %}
            <a
              class="btn btn-warning"
              href="{% url 'member:cancel_order' invoice.pk %}"
              >Cancel</a
            >
            {% endif%}
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
