{% extends 'member/base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap_message %}
{% load return_invoice_status %}
{% load invoice_color_bootstrap %}

{% block main %}
<div class='container py-2'>
  
  <div class='d-flex flex-wrap gap-5 align-items-center justify-content-evenly'>
    <!-- credit card-->
    <div class='credit_card mx-0 container-fluid bg-danger text-light'>
      <div class='row'>
        <div class="credit_card_details bg-secondary col-11 p-4 d-flex flex-column">
          <div class='row align-items-center'>
            <div class="col">
              <span> Your Credits </span>
            </div>
            <div class="col d-flex">
              <div class="credit_card_chip ms-auto bg-warning">
              </div>
          </div>
        </div>
        <h3 class='credit_card_name font-monospace'>{{ member.user.username }}</h3>
        <h3>**** **** **** ****</h3>
        <h3 class='mt-auto align-bottom'>$ {{ member.credit }}</h3>
        </div>
        <div class="col-1"></div>
      </div>
    </div>

    <!-- canvas container container -->
    <div> <canvas id="spendings_by_product" width="400" height="400"></canvas> </div>
  </div>

  {% if messages %}
  {% for message in messages %}
  {{ message | bootstrap_message }}
  {% endfor %}
  {% endif %}

  <div class="container p-4" style='background-color: rgb(0 0 0 / 5%);'>
    <h1> Place an Order </h1>
    {% crispy form %}
  </div>
  <h1 class='mt-4'> History </h1>
  <div class="table-responsive">
    <table class="table table-hover align-middle">
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Order Date</th>
          <th>Status / Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for invoice in invoices %}
        {% with status=invoice|return_invoice_status %}
        <tr class='table-{{invoice|invoice_color_bootstrap}}'>
          <td>{{ invoice.item }}</td>
          <td>{{ invoice.quantity }}</td>
          <td>{{ invoice.order_timestamp}}</td>
          <td>
            {% if status == 'pending' %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-danger rounded-pill" data-bs-toggle="modal"
              data-bs-target="#cancel_order{{invoice.pk}}">
              <i class="fa-solid fa-ban"></i> Cancel
            </button>

            <!-- Modal -->
            <div class="modal fade" id="cancel_order{{invoice.pk}}" tabindex="-1"
              aria-labelledby="CancelOrder_{{invoice.pk}}" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modal_{{invoice.pk}}">Confirm Cancel</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to cancel the order of <strong>{{invoice.quantity}} x {{invoice.item}}</strong>?
                  </div>
                  <div class="modal-footer">
                    <a class='btn btn-warning' href="{% url 'member:cancel_order' invoice.pk %}">
                      Confirm
                    </a>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            {% else %}
              {{ status | title }} by <strong>{{ invoice.employee.user.username }}</strong> at {{ invoice.action_timestamp }}
            {% endif %}
          </td>
        </tr>
        {% endwith %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
  function getRandomColorWithOpacity() {
      let letters = '0123456789ABCDEF'.split('');
      let color = '#';
      for (let i = 0; i < 6; i++ ) {
          color += letters[Math.floor(Math.random() * 16)];
      }
      color += '50';
      return color;
  }

  $(document).ready(async () => {
    const ctx = document.getElementById('spendings_by_product').getContext('2d');
    let response = await fetch("{% url 'member:spendings_by_product' %}");
    let json = await response.json();
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: Object.keys(json),
        datasets: [{
          label: 'Spendings by product',
          data: Object.values(json),
          backgroundColor: Object.keys(json).map((x) => getRandomColorWithOpacity()),
          borderColor: ['#FF0000FF'],
          borderWidth: 1,
          
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

  });
</script>
  {% endblock %}