
{% extends 'member/base.html' %}
{% load crispy_forms_tags %}
{% block main %}
<div class="container row py-3">
    <h1>Profile Settings</h1>
    {% if messages %}
    {% for message in messages %}
      {{message | bootstrap_message}}
    {% endfor %}
    {% endif %}
    {% crispy form %}
</div>

<div class="container row py-3">
    <h1>Change Password</h1>
    <form method='post'>
      {% csrf_token %}
      {{ change_password | crispy }}
      <input value='Submit' name='change_password' type='submit' class='btn btn-warning'/>
    </form>
</div>
{% endblock %}