#site-sidebar {
  box-shadow: rgb(48, 48, 48) 2px 2px 10px;
  max-width: 320px;
  padding-left: 0px;
  padding-right: 0px;
}

@media only screen and (max-width: 800px) {
  #site-sidebar {
    display: none;
    max-width: none;
    width: 360px;
  }
}

#site-sidebar > div {
  padding-top: 45px;
}

#main {
  min-height: 100vh;
}

header {
  box-shadow: rgb(48, 48, 48) 2px 2px 10px;
}
